$darkTheme: true !default

$realBlack: rgb(12, 12, 12)
$black: rgb(25, 25, 25)
$realWhite: rgb(245, 245, 245)
$white: rgba(230, 230, 230)
$light-gray: rgba(150, 150, 150)
$darkRed: #961417
$red: #ee1d22
$orange: #F88204
$green: #00AB40
$dark-green: #476B00
$light-blue: #00A8F5
$blue: #006A95
$dark-blue: #2F4858
$violet: #A25898
$pink: #E65091
$brown: #713433


// Matching Gradient
$focus: 3px solid $violet



$bg: $white
$bg2: $realWhite
$fg: $black
$fg2: $realBlack

@if $darkTheme
    $bg: $black
    $bg2: $realBlack
    $fg: $white
    $fg2: $realWhite

// Fonts
$monospace: "RobotoMono NF", Roboto Monospaced, monospace
$sansSerif: Tahoma, Helvetica, Arial, sans-serif

// Component colors
$linkColor: if($darkTheme, $light-blue, $blue)
